@media (max-width: 868px){
    body.disabledScroll{
        overflow: hidden;
    }
    .navbar-menu{
        .menu-list{
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background: #222;
            display: block;
            padding: 40px 0;
            text-align: center;
            clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
            transition: all 0.3s ease;
            li{
                margin-top: 19px;
                a{
                    font-size: 18px;
                    color: white;
                }
            }
              .icon {
                display:block;
                height: 50px;
                width: 50px;
                text-align: center;
                line-height: 50px;
                border-radius: 50%;
                z-index: 9;
                .cancel-btn{
                    display:none;
                    .show{
                        display: block;
                    }
                    .menu-btn{
                        display: block;
                    }
                }
                .hide {
                    display: none;
                }
            }
            
            &.active{
               clip-path: circle(75%); 
            }
        }
        .sticky{
            .menu-list{
                clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
            }
        }
        .menu-btn {
            position: absolute;
            right: 45px;
            color: white;
            top: 34px;
            font-size: 21px;
        }
    }
    .home-row {
        img {
            max-width: 100%;
            position: relative;
            top: 20px;
        }
    }
   
}



